[Desktop Entry]
Name=GRUB Boot Manager
GenericName=Boot Manager
Comment=Configure GRUB and choose in what system to reboot
Exec=grub-boot-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;

