[Desktop Entry]
Name=GRUB Boot Manager
GenericName=Boot Manager
Comment=Configure GRUB and choose in what system to reboot
Exec=grub-boot-manager
Terminal=false
Type=Application
Icon=grub-boot-manager
Categories=GTK;System;Settings;
StartupNotify=true
